* {
    margin: 0;
    padding: 0;
    background-color: #ffbeff;
}

.title {
    padding: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline overline #531D56;
}

#canvas, .tools, .instructions {
    width: 600px;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    height: 600px; 
    margin: auto;
    border: 3px solid black;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    cursor: crosshair;
} 

.tools {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

.tools p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 5px;
}

.tools button {
    background-color: #FFF7D0;
    padding: 15px 20px;
    border-radius: 40px;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid;
    cursor: pointer;
}

#sizeDisplay {
    align-self: last baseline;
    background-color: #531D56;
    color: #ffffff;
    font-size: 18px;
    padding: 2px 5px;
    border-radius: 7px;
    font-weight: 600;
}

#sizeSlider {
    appearance: none;
    background: #FFF7D0;
    border-radius: 10px;
    margin: 5px 10px;
    cursor: pointer;
}

#sizeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: black;
    cursor: grab;
}

#sizeSlider::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: black;
    cursor: grab;
}

.instructions {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.instructions p {
    background-color: #50434F;
    color: #ffffff;
    font-size: 24px;
    padding: 2px 5px;
    border-radius: 7px;
    font-weight: 600;
    border: 2px solid black;
}